pom.xml
*jar
/lib/
/classes/
/targets/
.lein-deps-sum

# Java class files
*.class

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Exclude maven wrapper
!/.mvn/wrapper/maven-wrapper.jar

# Intellij
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/libraries

