{

 ;;;; please fill in the <$var> parts in the configuration below
 ;;;; Note that pseidon-hdfs is configured from the mysql kafka_formats table

 ;:hdfs-conf {"fs.default.name" "hdfs://<namenode>8020"
 ;            "fs.defaultFS" "hdfs://<namenode>:8020"
 ;            "fs.hdfs.impl" "org.apache.hadoop.hdfs.DistributedFileSystem"}
 ;:local-dir "<datadir>"
 ;
 ;:repl-port 7113
 ;:monitor-port 8283
 ;;
 ;
 ;;; The mysql connection properties
 ;:hdfs-db-host "<mysql-config-ohst>"  ;;e.g localhost
 ;:hdfs-db-name "<mysql-config-db>"    ;;    mydb
 ;:hdfs-db-user "<mysql-config-user>"  ;;    pseidon
 ;:hdfs-db-pwd "<mysql-config-pwd>"    ;;    ""
 ;
 ;:hdfs-copy-freq 500
 ;:copy-threads 8

}