{

 ;;;; please fill in the <$var> parts in the configuration below
 ;;;; Note that pseidon-hdfs is configured from the mysql pseidon_logs table
 ;
 ; =========== NON Kerberos HDFS =================================
 ;:hdfs-conf {"fs.default.name" "hdfs://<namenode>8020"
 ;            "fs.defaultFS" "hdfs://<namenode>:8020"
 ;            "fs.hdfs.impl" "org.apache.hadoop.hdfs.DistributedFileSystem"}
 ;:local-dir "<datadir>"
 ;
 ; =========== Kerberos HDFS ====================================
 ;
 ;:hdfs-conf {"fs.default.name" "hdfs://<namenode>:50070"
 ;            "fs.defaultFS" "hdfs://<namenode>:50070"
 ;            "fs.hdfs.impl" "org.apache.hadoop.hdfs.DistributedFileSystem"
 ;            "hadoop.security.authentication", "kerberos"}
 ;
 ;:repl-port 7113
 ;:monitor-port 8283
 ;
 ;
 ;;; The mysql connection properties
 :hdfs-db-host "<mysql-config-host>"  ;;e.g localhost
 :hdfs-db-name "<mysql-config-db>"    ;;    mydb
 :hdfs-db-user "<mysql-config-user>"  ;;    pseidon
 :hdfs-db-pwd "<mysql-config-pwd>"    ;;    ""
 ;
 ;:hdfs-copy-freq 500
 ;:copy-threads 8


 ;:secure false ;;if true the UserGroupInformation::loginUserFromKeytab is used
 ;:secure-keytab ;; add keyspace here
 ;:secure-user ;; e.g cloudera@CLOUDERA.COM
}