{

 :kafka-brokers      [{:host "{brk1}" :port 9092}
                      {:host "{brk2}" :port 9092}
                      {:host "{brk3}" :port 9092}]

 :kafka-use-earliest true
 :redis-conf         {:host "{redis}" :port 6379 :max-active 10 :timeout 1000}
 :etl-db-host        "//localhost:3306/pseidon"
 :etl-db-user        "pseidon"
 :etl-db-pwd         "pseidon"

 :data-dir           "{datadir}"

 :consume-step       100000

  :writer            {

                      :out-buffer-size 10000
                      :codec :gzip
                      :rollover-timeout 1000                ; for testing rollover every 10 seconds
                      :rollover-abs-timeout 10000           ; for testing rollover every 10 seconds
                      }

 ;; for messages with avro format in the db table pseidon_logs we require an avro schema registry
 :avro-schema-registry-url "{schemaregistry}"

 ;;:jaas "path to jaas file"
 :etl-group "etl" ;;log_group used in mysql pseidon-logs, and also used to isolate redis kafka offsets
 }